{% extends 'base.html.twig' %}

{% block title %}Site A - Homepage{% endblock %}

{% block heading %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center">
                {% if show_brand_logo %}
                    <i class="material-icons">pets</i>
                {% endif %}
                {% if show_commercial_name %}
                    {{ commercial_name }}
                {% else %}
                    Welcome to Site A
                {% endif %}
            </h1>
            <hr class="my-4">
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">The Amigurumi artisan Shop</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
